.chart-container{
    display:block;
    /* margin:0 auto; */
    margin-left: 40px;
    position:relative;
    height:500px; 
    width:1100px;
    text-align: center;
    
}
@media only screen and (max-width:900px) {
    .chart-container{
        width: 90%;
        height:45%;
    }
}