{% extends 'base.html' %}

{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static "CSS/graph.css"  %}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-autocolors"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2 "></script>

{% endblock %}
{% block content %}

      
    
<div class="chart-container" style="width : 1000px">
      
    <div>
      <h2 style="text-align : center"> Répartition des ventes par produits</h2 >
    <form method="post"> {% csrf_token %}
      {% if filtrep == "allPa" %} 
      <button class="btn btn-dark" type='submit' name="tous" value='38' style="margin-top:20px; font-size: 17px">Tous les Produits</button>
      {% else %}
      <button class="btn btn-outline-dark" type='submit' name="tous" value='38' style="margin-top:20px; font-size: 17px">Tous les Produits</button>
      {% endif %}
      {% if filtrep == "top" %} 
      <button class="btn btn-dark" type='sumbit' name='top' value='DESC' style="margin-top:20px; font-size: 17px">Top 10</button>
      {% else %}
      <button class="btn btn-outline-dark" type='sumbit' name='top' value='DESC' style="margin-top:20px; font-size: 17px">Top 10</button>
      {% endif %}
      {% if filtrep == "flop" %} 
      <button class="btn btn-dark" type='submit' name="flop" value='ASC' style="margin-top:20px; font-size: 17px">Flop 10</button> </div>
      {% else %}
      <button class="btn btn-outline-dark" type='submit' name="flop" value='ASC' style="margin-top:20px; font-size: 17px">Flop 10</button> </div>
      {% endif %}
      <div>
      {% if filtred == "allD" %} 
      <button class="btn btn-secondary" type='submit' name="allDate" value='allDate' style="margin-top:20px ;font-size: 17px">Toutes les années</button>
      {% else %}
      <button class="btn btn-outline-secondary" type='submit' name="allDate" value='allDate' style="margin-top:20px ;font-size: 17px">Toutes les années</button>
      {% endif %}
      {% if filtred == "2010" %} 
      <button class="btn btn-secondary" type='submit' name="2010" value='2010' style="margin-top:20px; font-size: 17px">2010</button>
      {% else %}
      <button class="btn btn-outline-secondary" type='submit' name="2010" value='2010' style="margin-top:20px; font-size: 17px">2010</button>
      {% endif %}
      {% if filtred == "2011" %} 
      <button class="btn btn-secondary" type='submit' name="2011" value='2011' style="margin-top:20px; font-size: 17px">2011</button>
      {% else %}
      <button class="btn btn-outline-secondary" type='submit' name="2011" value='2011' style="margin-top:20px; font-size: 17px">2011</button>
      {% endif %}
    </div>
         </form>
    
    <canvas id="myChart"  ></canvas>
  </div>

  <div class= 'container'>
    
  
    <div style=" margin-left : 750px ; margin-top:-490px; width:700px">
      <h2 style="text-align : center"> Top 5 des pays pour {{filtreselected}}</h2 >
      <form method="post"> {% csrf_token %}
        <select class="form-select" style='width :200px;margin:0 auto; margin-top:30px;' name="filtretop">
          
          <option value="{{filtrecode}}" selected>{{filtreselected}}</option>
          {% for code, nom in zipprod %}
          <option value={{code}}>{{nom}}</option>
          {%endfor%}  
      </select>
      <input class="btn btn-outline-secondary" style="margin-left:470px; margin-top: -68px" type="submit" value="Afficher">
      </form>
      
    <canvas style="margin-top: -25px; " id="myChart2"  ></canvas> </div>
  </div>
  <div class='container' style="margin-top: -100px">
    <a href= "{% url 'accueil' %}" class=" btn btn-secondary " style="font-size:17px;" role="button" >Retour à l'accueil</a>
    <a href= "{% url 'graphPays' %}" class=" btn btn-dark " style="font-size:17px;" role="button" >Ventes par pays</a>

  </div>

  <script>
   

    {% comment %} const autocolors = window['chartjs-plugin-autocolors'];
    Chart.register(autocolors);  {% endcomment %}

    Chart.register(ChartDataLabels);

    const data = {
      labels: [''],
      datasets: [ {% for cc, vv in zipp %} {
        label: ['{{cc}}'],
        data: [{{vv}}],
        borderWidth: 1,
        barPercentage:0.90,
        categoryPercentage:0.95,
      }, {%endfor%} ]
    };

    // config 
    const config = {
      type: 'bar',
      data,
      options: {
        
        plugins:{
          tooltip:{
            bodyFont:{
              size:19,
              weight:'bold',
            }
          },
          datalabels: {
            labels: {
              name: {
                clamp:true,
                display:'auto',
                anchor:'end',
                color:'black',
                align: 'bottom',
                font: {size: 15, weight:'bold'},
                formatter: function(value, ctx) {
                  return ctx.active
                    ? ctx.dataset.label
                    : ctx.dataset.label;
                }
              },
              value: {
                clamp:true,
                display:'auto',
                anchor:'end',
                color:'black',
                align: 'top',
                font: {size: 16, weight:'bold'},
                borderWidth: 2,
                borderRadius: 4,
                formatter: function(value, ctx) {
                  return ctx.active
                    ? value
                    : Math.round(value * 1000) / 1000;
                },
                padding: 0
              }
            }
          },
          legend:{
            display:true,
            position:'top',
            labels:{
              padding:10,
              font: {
                size: 17 },
                boxWidth: 15,
                color:'black',
                weight:'bold',  
              }
            },
          },
          scales: {
            x:{
              ticks:{
                display:true,
              }
            },
            y: {
              ticks: {
                color:'black',
                font: {
                  size:15,
                  weight:'bold',
                },
              },
              beginAtZero: true,
              title:{
                display:true,
                text:'Nombre de ventes',
                font: {
                  size: 20,
                  weight: 'bold',
                },
              },
            },
          },
        }
      };

    // render init block
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
    </script> 
    

    <script>
      const data2 = {
        labels: [{% for prod  in topprod %}'{{prod}}',{% endfor %}],
      datasets: [{
        label: 'Ventes',
        data: {{prodvente}},
        hoverOffset: 30,
      }]
    };
      const config2 = {
        type: 'pie',
        data:data2,
        options: {
          layout:{
            padding:{
              top:40,
              left:120,
              right:80,
              bottom:80,
            }
          },
          plugins:{
            tooltip:{
              titleFont:{
                size:16,
                weight:'bold',
              },
              bodyFont:{
                size:14,
                weight:'bold',
              },
            },
            datalabels: {
              labels: {
                name: {
                  clamp:true,
                  display:'auto',
                  anchor:'end',
                  color:'black',
                  align: 'bottom',
                  font: {size: 15, weight:'bold'},
                  formatter: function(value, ctx) {
                    return ctx.active
                      ? ctx.chart.data.labels[ctx.dataIndex]
                      : ctx.chart.data.labels[ctx.dataIndex];
                  }
                },
                value: {
                  clamp:true,
                  display:'auto',
                  anchor:'center',
                  color:'black',
                  align: 'top',
                  font: {size: 16, weight:'bold'},
                  borderWidth: 2,
                  borderRadius: 4,
                  formatter: function(value, ctx) {
                    console.log(ctx)
                    return ctx.active
                      ? value
                      : Math.round(value * 1000) / 1000;
                  },
                  padding: 0,
                }
              }
            },
            legend:{
              display:true,
              position:'top',
              labels:{
                padding:9,
                font: {
                  size: 16 },
                  boxWidth: 15,
                  color:'black',
                  weight:'bold',  
                }
              },
            },
            scales: {
            },
          }
        };

    const myChart2 = new Chart(
      document.getElementById('myChart2'),
      config2
    );

    </script>
  



{% endblock %}