{% extends 'base.html' %}

{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static "CSS/graph.css"  %}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-autocolors"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2 "></script>

{% endblock %}
{% block content %}




<div class="chart-container" style="width : 1100px">
      
    <h2> Répartition des ventes par pays</h2>
    <form method="post"> {% csrf_token %}
      <button class="btn btn-outline-dark" type='submit' name="limitAll" value='38' style="margin-top:20px">Tous</button>
      <a class="btn btn-outline-dark" type='button' href="{% url 'graphPays' %}" style="margin-top:20px">Top 10</a>
      <button class="btn btn-outline-dark" type='submit' name="flop" value='ASC' style="margin-top:20px">Flop 10</button>

      {% comment %} <button class="btn btn-outline-dark" type='submit' name="ukCheck" value='1' style="margin-top:20px">cacher</button>
       <button class="btn btn-outline-dark" type='submit'  name="ukCheckq" value='0' style="margin-top:20px">afficher</button> </div>  
    {% for p in pays%} <button class="btn btn-outline-dark" type='submit' name="nomPays" value={{p}} style="margin-top:20px">{{p}}</button>{%endfor%} {% endcomment %}
    </form>
    <canvas id="myChart"  ></canvas>
  </div>


  <script>
   

    {% comment %} const autocolors = window['chartjs-plugin-autocolors'];
    Chart.register(autocolors);  {% endcomment %}

    Chart.register(ChartDataLabels);

    const data = {
      labels: [''],
      datasets: [ {% for cc, vv in zipp %} {
        label: ['{{cc}}'],
        data: [{{vv}}],
        borderWidth: 1,
        barPercentage:0.90,
        categoryPercentage:0.95,
      }, {%endfor%} ]
    };

    // config 
    const config = {
      type: 'bar',
      data,
      options: {
        plugins:{
          tooltip:{
            bodyFont:{
              size:19,
              weight:'bold',
            }
          },
          datalabels: {
            labels: {
              name: {
                clamp:true,
                display:'auto',
                anchor:'end',
                color:'black',
                align: 'bottom',
                font: {size: 15, weight:'bold'},
                formatter: function(value, ctx) {
                  return ctx.active
                    ? ctx.dataset.label
                    : ctx.dataset.label;
                }
              },
              value: {
                clamp:true,
                display:'auto',
                anchor:'end',
                color:'black',
                align: 'top',
                font: {size: 16, weight:'bold'},
                borderWidth: 2,
                borderRadius: 4,
                formatter: function(value, ctx) {
                  return ctx.active
                    ? value
                    : Math.round(value * 1000) / 1000;
                },
                padding: 0
              }
            }
          },
          legend:{
            display:true,
            position:'top',
            labels:{
              padding:20,
              font: {
                size: 17 },
                boxWidth: 15,
                color:'black',
                weight:'bold',  
              }
            }
          },
          scales: {
            x:{
              ticks:{
                display:true,
              }
            },
            y: {
              ticks: {
                color:'black',
                font: {
                  size:15,
                  weight:'bold',
                },
              },
              beginAtZero: true,
              title:{
                display:true,
                text:'Nombre de ventes',
                font: {
                  size: 20,
                  weight: 'bold',
                },
              },
            },
          },
        }
      };

    // render init block
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
    </script> 
  


{% endblock %}