{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="container">
      <h2> Import de CSV </h2>
      <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="upCSV" style= " font-size: 17px" class="btn btn-primary btn-block btn-outlined">Sélectionner le(s) fichier(s) CSV</label>
    <input type="file"  id='upCSV' name="document" multiple style="display: none">
    <button type ="submit" id='btUp' style= " font-size: 17px" class="btn btn-success btn-block btn-outlined"> Uploader le(s) fichier(s) CSV </button>
      </form>
      {% comment %} <div>
      {% if noms %}
      
      <p><h4> fichier(s) uploadé(s) :   </h4></p>
      <h4> {% for n in noms%} 
     {{n}}  
      {%endfor%}</h4>
      {% endif %}
      
    
   
     </div> {% endcomment %}

     {% if noms %}
     <p><h4> Feedback :   </h4></p>
     <table class="table table-dark table-hover w-auto " style= " font-size: 17px;">
      
      <thead class="thead-light">
      <tr>
        <th>Nom du fichier</th>
        {% for n in noms%}
        <th>{{n}} </th>
        {%endfor%}
      
     
      </tr>
   
    </thead>
    
<tbody>
  <tr>
  
 
  
  </tr>
  <tr>
    <td>Lignes par défaut</td>
     {% for o in original%}
    <td class="text-center">{{o}}</td>
    {%endfor%}</tr>

    <tr>
      <td>Lignes après vérification des lignes duppliqués</td>
      {% for d in duppli%}
      <td class="text-center" >{{d}}</td>
    {%endfor%}
    </tr>

    <tr>
      <td>Lignes après vérification des avoirs</td>
      {% for a in avoirs%}
      <td class="text-center" >{{a}}</td>
    {%endfor%}
    </tr>

    <tr>
      <td>Lignes après vérification des dates </td>
      {% for d in dates%}
      <td class="text-center" >{{d}}</td>
    {%endfor%}
    </tr>

    <tr>
      <td>Lignes après vérification des produits </td>
      {% for p in produits%}
      <td class="text-center" >{{p}}</td>
    {%endfor%}
    </tr>

    <tr>
      <td>Lignes après vérification des quantités </td>
      {% for q in quant%}
      <td class="text-center" >{{q}}</td>
    {%endfor%}
    </tr>

    <tr>
      <td>Lignes après vérification des pays </td>
      {% for p in pays%}
      <td class="text-center" >{{p}}</td>
    {%endfor%}
    </tr>

    <tr>
      <td>Lignes totales </td>
      {% for t in total%}
      <td class="text-center" >{{t}}</td>
    {%endfor%}
    </tr>

    <tr>
      <td>Lignes supprimées </td>
      {% for s in sub%}
      <td class="text-center" >{{s}}</td>
    {%endfor%}
    </tr>

    <tr>
      <td>% </td>
      {% for p in pourcent%}
      <td class="text-center" >{{p}}%</td>
    {%endfor%}
    </tr>
  </tbody>
  
  
  </table>
 
  <form action="{% url 'save' %}" method="POST"  enctype="multipart/form-data">
    {% csrf_token %}
    <button type ="submit" id='btUp2' style= " font-size: 17px" class="btn btn-warning btn-block btn-outlined"> Enregistrer dans la base de données</button>
    <a href="{% url 'upload' %}" class=" btn btn-danger " style="font-size:17px; margin-left:20px" role="button" >Annuler</a>
  </form>
  {% endif %} 
  <a href= "{% url 'accueil' %}" class=" btn btn-secondary " style="font-size:17px; margin-top:20px" role="button" >Retour à l'accueil</a>

    </div>

<div id="bg-spinner">  
  <h3>Traitement du csv en cours, veuillez patienter...</h3>
  <div id="position-spinner"> 
    <span id="spinner">
    </span>
  </div>
</div>


   <script>
    jQuery(function($){
      $(document).ajaxSend(function(){
        $("#bg-spinner").fadeIn(500);
      });

      $("#btUp").click(function(){
        $.ajax({
          type:'GET',
          success:function(data){
            var d = $.parseJSON(data);
            alert(d.Test);
          }
        }).done(function(){
          setTimeout(function(){
            $("#bg-spinner").fadeOut(500);
          },700);
        });
      });
    });
    jQuery(function($){
      $(document).ajaxSend(function(){
        $("#bg-spinner").fadeIn(500);
      });

      $("#btUp2").click(function(){
        $.ajax({
          type:'GET',
          success:function(data){
            var d = $.parseJSON(data);
            alert(d.Test);
          }
        }).done(function(){
          setTimeout(function(){
            $("#bg-spinner").fadeOut(500);
          },700);
        });
      });
    });
   </script>

   
{% endblock %}