{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="container">
      <h2> Import de CSV </h2>
      <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="upCSV" class="btn btn-primary btn-block btn-outlined">Sélectionner le(s) fichier(s) CSV</label>
    <input type="file" id='upCSV' name="document" multiple style="display: none">
    <button type ="submit" id='btUp' class="btn btn-success btn-block btn-outlined"> Uploader le(s) fichier(s) CSV </button>
      </form>
     <div>
      {% if noms %}
      {% for n in noms%}
      <p><h4> fichier(s) uploadé(s) :  {{n}}  </h4></p>
    
      
      {%endfor%}
      
      {% endif %}
     </div>
    </div>

<div id="bg-spinner"> 
  <h3>Traitement du csv en cours, veuillez patienter...</h3>
  <div id="position-spinner"> 
    <span id="spinner">

    </span>
    
  </div>
 
</div>


   <script>
    jQuery(function($){
      $(document).ajaxSend(function(){
        $("#bg-spinner").fadeIn(500);
      });

      $("#btUp").click(function(){
        $.ajax({
          type:'GET',
          success:function(data){
            var d = $.parseJSON(data);
            alert(d.Test);
          }
        }).done(function(){
          setTimeout(function(){
            $("#bg-spinner").fadeOut(500);
          },700);
        });
      });
    });
   </script>


{% endblock %}