{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container col-1 w-50 mx-auto" style="padding:50px" >
    
    <a class="row-lg w-100 py-3 my-3 btn btn-dark" style= " font-size: 20px" href="{% url 'graphPays' %}" role="button"> Répartition des ventes par pays</a>
    <a class="row-lg w-100 py-3 my-3 btn btn-dark" style= " font-size: 20px" href="{% url 'graphProduits' %}" role="button">Répartition des ventes par produits</a>
    <a class="row-lg w-100 py-3 my-3 btn btn-secondary" style= " font-size: 20px" href="{% url 'accueil' %}" role="button">Retourner à l'accueil</a>
</div>

{% endblock %}